<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MELODI</title>
</head>
<body>
    <p>Thanks for being awesome! We have received your message and would like to thank you for writing to us. ..MELODI</p>
  <p>
    thanks for reaching out!We’re thrilled to hear from you. Our inbox can’t wait to get your messages, so talk to us any time you like.
  </p>
  <p>Please enjoy, and let us know if there’s anything else we can help you with. </p>
  <p>Or Contact us</p>:&nbsp; <a href="tel://08118084185">081 180 84185</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <p>Cheers <span style="color: blue; font-weight: 700;">MELODI</span></p>
         <hr>
         <h1 style="background-color: rgb(0, 0, 0); text-align: center; color: rgrgb(255, 7, 7)padding: 30px; border-radius: 10px;">MELODI</h1>
<br><br>
<hr>
<ul>
  <li>Name: {{ name }}</li>
  <li>Email: {{ email }}</li>
  <li>Phone: {{ phone }}</li>
  <li>Message: {{ message }}</li>
</ul>
<hr>
</body>
</html>